<h1> Index file of articles </h1>

<table>
  <thead>
    <tr></tr>
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>ACTION</th>
  </thead>

  <tbody>
    <% @article.each do |list| %>
    <tr>
      <td> <%= list.title %> </td>
      <td> <%= list.description %> </td>
      <td> Placeholder </td>
    </tr>
    <% end %>
  </tbody>
</table>